/.git/*
/.metadata/*
/.recommenders/*
/.settings/*
/.classpath/*
/.classpath
.classpath
.project
.target
.idea
/target/*
feed-ms/target/*
user_preference-ms/target/*
users-ms/target/*
/RemoteSystemsTempFiles/*
/Servers/*
